html {
    box-sizing: border-box;
}

/*  header */ 

/* m*/
*,
*:before,
*:after {
    box-sizing: border-box;
}


body {}

#container {
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: 100vh 100vh 100vh;
    grid: gap:10px;
    grid-template-areas:
        "h h h h "
        "m m m m "
        "f f f f "

}




.nav {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    background-color: aliceblue;  
}

@media screen and (min-width: 480px) {
    body {
      background-color: lightgreen;
    }
  }

  
