html {
    box-sizing: border-box;
}

/*  header */ 

/* m*/
*,
*:before,
*:after {
    box-sizing: inherit;
}



/************************************************ PARALAX***********/



/*#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:50vh 50vh 50px;
    grid-gap: 10px;
   grid-template-areas:
         "h h h h "
         "m m m m "
         "f f f f " 
         
}
*/









header {
    
 
    height: 10px;
    
}

/*main{
    grid-area: m;
    
    
}
*/
main h1{
    font-size: 5rem;
    padding: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main.div {
     position: relative;
     left: 0;
     right: 0;
}

div.uno {
    position: absolute;
    flex-basis: 20%;
    left: 0;
    right: 0;
    
}


div.dos {
    position: absolute;
    flex-basis: 20%; 
   
}


div.tres {
    flex-basis: 20%;
    position: absolute;
    
   /* z-index: 3;*/
    
}




/*footer {
    grid-area: f;
    background-color: black;
}*/
/*.up {
    background-color: skyblue;
    grid: area 3/4/2/3;
    z-index: 1;
}*/
 /*nav ul {
     
     list-style: none;
     justify-content: flex-end;
     padding: 150px;
 }

 li a {
     text-decoration: none;
     transition: color 0.3s ease;
     padding: 1rem;
    
 }


.icon-twitter {
    height: 5rem;
    /* filter:  

.icon-instagram {
    height: 5rem;
    
} */

#caja {position: absolute;
    padding: 6rem;
}

 nav ul li {
     position: relative;
     display: inline;
     text-align: center;
     border-radius: 15px;  
    
 }

nav {
    padding: 5% 10% 10% 5%;
    position: absolute;
    color: black;
    font: bold;
    text-align: center;
    background: rgb(255, 187, 0);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

.icon {
    width: 3rem;
}



.uno {
    size: 80%;
}

.tres {
    padding: 50% 20% 0% 45%;
}


h1 {
    position: absolute;
    color: black;
    font: bold;
    text-align: center;
}


.back{
    position: absolute;
    float: left;
    width:100%;
    top: 30%;
}

 
.icon :hover {
    color: rgb(0, 162, 255);
  }












@media (min-width: 1281px) {
    html {
        background-color: brown;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    html {
        background-color: blueviolet;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    html {
        background-color: orangered;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    html {
        background-color: blue;
    }
}



