html {
    box-sizing: border-box;
}

/*  header */ 

/* m*/
*,
*:before,
*:after {
    box-sizing: inherit;
}



/************************************************ PARALAX***********/



/*#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:50vh 50vh 50px;
    grid-gap: 10px;
   grid-template-areas:
         "h h h h "
         "m m m m "
         "f f f f " 
         
}
*/
header {
    
 
    height: 10px;
    
}

/*main{
    grid-area: m;
    
    
}
*/
main h1{
    font-size: 5rem;
    padding: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main.div {
     position: relative;
     left: 0;
     right: 0;
}

div.uno {
    position: absolute;
    flex-basis: 20%;
    left: 0;
    right: 0;
    
}


div.dos {
    position: absolute;
    flex-basis: 20%; 
   
}


div.tres {
    flex-basis: 20%;
    position: absolute;
    
   /* z-index: 3;*/
    
}




/*footer {
    grid-area: f;
    background-color: black;
}*/
/*.up {
    background-color: skyblue;
    grid: area 3/4/2/3;
    z-index: 1;
}*/
 nav ul {
     display: flex;
     list-style: none;
     justify-content: flex-end;
     padding: 150px;
 }

 li a {
     text-decoration: none;
     transition: color 0.3s ease;
     padding: 1rem;
    
 }


.icon-twitter {
    height: 150px;
    /* filter:  */
}

.icon-instagram {
    height: 150px;
    
}


.icon:hover,
.icon:focus {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}



.uno {
    size: 80%;
}

.tres {
    padding: 35% 10% 0% 45%;
}


h1 {
    position: absolute;
    color: black;
    font: bold;
    text-align: center;
}


.back{
    position: absolute;
    float: left;
    width:100%;
}

 














@media (min-width: 1281px) {
    html {
        background-color: brown;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    html {
        background-color: blueviolet;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    html {
        background-color: orangered;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    html {
        background-color: blue;
    }
}



