 @import url('https://fonts.googleapis.com/css?family=Merriweather|Roboto+Condensed:400,700&display=swap');


html {
    box-sizing: border-box;
    margin: 0%
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
}
h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    padding: 1rem;
    font-size: 3rem;
    line-height: 1.6rem;
}
h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    padding: 1rem;
    font-size: 2rem;
    line-height: 1.6rem;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-gap: 10;
}
section {
    border: solid 1px black;
}
#cat1 {
    width: 350px;
    float: left;
    shape-outside: circle(145px at 175px 191px);
}
#cat2 {
    height: 400px;
    float: left;
    shape-margin: .5rem;
}

#cat3 {
    width: 100%;
    height: 100;
    object-fit: cover;
    float: left;
    shape-outside: polygon(37.84% 0.04%, 10.6% 15.23%, 14.32% 87.11%, 62.08% 93.15%, 80.04% 95.63%, 84.5% 80.84%, 93.83% 50.51%, 75.98% 29.61%, 73.91% 1.04%);
}
#perro {
    width: 450px;
    float: left;
    shape-outside: polygon(60.75% 17.76%, 40.33% 16.24%, 26.69% 18.27%, 14.02% 14.54%, 19.98% 36.73%, 14.49% 44.86%, 14.01% 66.79%, 6.71% 74.19%, 4.31% 89.65%, 18% 100.61%, 59.75% 99.32%, 65.16% 95.06%, 71.38% 82.57%, 71.79% 78.42%, 67.43% 69.47%, 71.03% 60.62%, 71.15% 47.23%, 67.21% 35.78%, 72.12% 13.12%);
    clip-path: polygon(48.53% 28.87%, 40.33% 16.24%, 26.02% 10.49%, 12.24% 14.54%, 1.75% 28.06%, 4.93% 48.19%, 14.01% 66.79%, 14.49% 79.75%, 16.98% 90.09%, 18% 100.61%, 45.08% 105.54%, 66.94% 105.06%, 86.5% 103.89%, 96.24% 97.75%, 100.33% 91.69%, 87.47% 68.4%, 81.37% -8.33%, 72.54% -10.44%, 65.68% 30.46%);



}
    


