html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0%;
}
 .h1{
     background:blue;
     padding: 20;
     

 }



#figcaption class {
    background-color: black;
     
     
 }





.container {
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    
}

header{
    background: brown;
    padding: 2rem;
    
}

.menu {
    font-family: 'Roboto', sans-serif;
    font: bold;
    color: white;
    font-size: 1.5rem;
}


.nav ul {
display: flex;
list-style: none;
justify-content: flex-end; 
}

ul {
    display: flex;
    list-style: none;
}


li a {
    padding: 5rem;
    text-decoration: none;
    color:black;
    
}

li a:hover {
  background-color: blueviolet;
  color: white;
}

li a:visited {
    color:black;
}


main {
    display: flex;
    background-image: url(../Images/landscape.jpg);
    width: 800px;
    height: 1000px;
}

 

section {
    padding: 2rem;

}


.uno {
    flex-basis: 20%;
}

.uno p {
    color: blue;
}
    




.dos {
    flex-basis: 20%;
}

.dos p {
    color: blue;
}





.tres {
    flex-basis: 20%;
    padding: 3rem;
    background: cornsilk;
    border: darkgreen;
}

.tres p {
    color: blue;
}





.img {
    float: center;
    width: 400px;
    height: 300px;

}

.pie {
    font-family: 'Roboto', sans-serif;
    font: bold;
    color: white;
    font-size: 1.5rem;
}


footer {
    padding: 20px;
    background-color: blue;
}
