
 /*********************************** RESET ****************************************/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
}
/*************************************************************************************/
#wrapper {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    background-color: rgb(211, 115, 211);
    display: flex;
    flex-flow: column wrap;
    /* flex-direction: column-reverse; 
    flex-wrap: wrap-reverse;*/
    /* flex flow es combinación de los dos anteriores 
    flex-flow: column wrap;*/
    justify-content: center;
    align-items: center;
}
section {
    border: solid black 1px;
    /* width: 400px; */
}
p {
    padding: 1rem;
}
.uno {
    background-color: #dea1fb;
    order: 5;
    right: 30%;
}
.dos {
    background-color: #6161f8;
    height: 40%;
    right: 40%;
    
}
.tres {
    background-color: #e62020;
    order: 1;
    left: 30%;
}
.cuatro {
    background-color: #25c977;
   align-self: stretch; 
   order:3;
   width: 10%;
   

   
}
.cinco {
    background-color: #f5deb3;
}
.seis {
    background-color: #fcfc21;
    display: inline-flex;
}
.siete {
    background-color: #4221fc;
    order: 1;
    
}
.doce {
    background-color: #7105a3;
    order: 4;
    right: 30%;
}

/* Segundo wrapper */
#wrapper2 {
    color: teal;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-color: #ffc1ea;
    display: flex;
    flex-grow: inherit;
    flex-wrap: wrap;
    justify-content: left;
    align-content: space-around;
    flex: unset;
}
.box {
    width: 30%;
}
/* .cuatro {
    flex-grow: 1;
} */